/* Définition des polices personnalisées */

@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

body {
    margin: auto;
}

#bloc_page {
    margin-left: 20%;
    margin-right: 20%;
    height: 1420px;
    font-family: 'ralewayregular', Helvetica, sans-serif;
}

h1 {
    font-size: larger;
    font-weight: bold;
}

h2 {
    font-size: medium;
    font-weight: bold;
}

p {
    font-size: 15px;
}

header {
    width: 100%;
    height: 440px;
    position: relative;
    padding-left: 10px;
}

.logo {
    position: absolute;
    top: 10px;
}

nav {
    position: absolute;
    display : flex;
    font-size: 15px;
    font-weight: bold;
    top: 30px;
    padding-right: 0px;
    right: 0px;
    height: 40px;
    width: 350px;
    text-decoration: none;
}

.el1, .el2, .el3 {
    flex: 1 1 auto;
}

.el1 a {
    color: #80a8e2;
}

.el2 a {
    color: #6d686893;
}

.el3 a {
    color: #0065FC;
}

.titre {
    position: absolute;
    top: 80px;
}

.p {
    position: absolute;
    top: 110px;
}

.recherche {
    position: absolute;
    display: flex;
    top: 170px;
    height: 50px;
    width: 400px;
}

.map {
    border: 1px solid #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex: 1 1 20px;
    background-color: #F2F2F2;
}

.champ {
    height: 44px;
    flex: 1 1 150px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.bouton {
    flex: 1 1 100px;
    background-color:  #0400fc;
    height: 48px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #0400fc;
    text-decoration: none;
}

.bouton h2 {
    color: white;
    text-align: center;
}

#filtres {
    position: absolute;
    display: flex;
    top: 261px;
    height: 54px;
    width: 880px;
    text-align: center;
    font-size: 20px;
}

h2 {
    flex: 1 1 auto;
    margin-right: 20px;
}

.economique {
    flex: 1 1 auto;
    border-radius: 30px;
    border: 3px solid #F2F2F2;
    border-style: solid solid solid hidden;
    border-top-left-radius: 35%;
    display: flex;
    margin-right: 20px;
    height: 48px;
} 

.money {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8caddd;
    flex: 1 1 auto;
    line-height: 50px;
    vertical-align: middle;
}
 
.eco {
    flex: 1 1 auto;
    padding-left: 10px;
}

.eco a {
    color: black;
}

.eco a:hover {
    background-color: #0400fc;
    color: #F2F2F2;
    font-size: 30px;
}

.familial {
    flex: 1 1 auto;
    border-radius: 30px;
    border: 3px solid #F2F2F2;
    border-style: solid solid solid hidden;
    border-top-left-radius: 35%;
    display: flex;
    margin-right: 20px;
    height: 48px;
} 

.child {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8caddd;
    flex: 1 1 auto;
    line-height: 50px;
    vertical-align: middle;
}

.fam {
    flex: 1 1 auto;
    padding-left: 10px;
}

.fam a {
    color: black;
}

.fam a:hover {
    background-color: #0400fc;
    color: #F2F2F2;
    font-size: 30px;
}

.romantique {
    flex: 1 1 auto;
    border-radius: 30px;
    border: 3px solid #F2F2F2;
    border-style: solid solid solid hidden;
    border-top-left-radius: 35%;
    display: flex;
    margin-right: 20px;
    height: 48px;
} 

.heart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8caddd;
    flex: 1 1 auto;
    line-height: 50px;
    vertical-align: middle;
}

.rom {
    flex: 1 1 auto;
    padding-left: 10px;
}

.rom a {
    color: black;
}

.rom a:hover {
    background-color: #0400fc;
    color: #F2F2F2;
    font-size: 30px;
}

.animaux {
    flex: 1 1 auto;
    border-radius: 30px;
    border: 3px solid #F2F2F2;
    border-style: solid solid solid hidden;
    border-top-left-radius: 35%;
    display: flex;
    margin-right: 20px;
    height: 48px;
} 

.dog {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8caddd;
    flex: 1 1 auto;
    line-height: 50px;
    vertical-align: middle;
}

.ani {
    flex: 1 1 auto;
    padding-left: 10px;
}

.ani a {
    color: black;
}

.ani a:hover {
    background-color: #0400fc;
    color: #F2F2F2;
    font-size: 30px;
}

.info {
    display: flex;
    top: 360px;
    width: 400px;
    height: 30px;
    position: absolute;
    text-align: center;   
}

.info i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #F2F2F2;
    flex: 1 1 auto;
    line-height: 20px;
    vertical-align: middle;
    color: #0400fc;
}

.info p {
    text-align: center;
    padding-left: 6px;
    flex: 1 1 auto;
    margin: auto;
}

section {
    top: 0px;
    width: 100%;
    height: 480px;
    display: flex;
}

articles {
    position: relative;
    top: 0px;
    height: 440px;
    background-color: #F2F2F2;
    width: 70%;
    border-radius: 20px;
    padding: 20px;
}

.bloch {
    position: absolute;
    width: 568px;
    top: 90px;
    height: 304px;
    display: flex;
    flex-wrap: wrap;
}

.heb1, .heb2, .heb3, .heb4, .heb5, .heb6 {
    height: 140px;
    flex: 1 1 170px;
    background-color: white;
    border-radius: 20px;
    top: 100px;
    align-content: baseline;
    border: 3px solid white;
    display: flex;
    box-shadow: 0px 2px 2px 1px rgb(187, 184, 184);
}

.heb1, .heb2, .heb4, .heb5 {
    margin-right: 15px;
}

.heb4, .heb5, .heb6 {
    margin-top: 15px;
}

.heb1 img, .heb2 img, .heb3 img, .heb4 img, .heb5 img, .heb6 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.heb1 h2, .heb2 h2, .heb3 h2 {
    position: absolute;
    top: 80px;
    font-size: 13px;
    padding-left: 5px;
}

.heb1 p, .heb2 p, .heb3 p {
    position: absolute;
    top: 98px;
    font-size: 12px;
    padding-left: 5px;
}

.heb1 .etoiles, .heb2 .etoiles, .heb3 .etoiles {
    font-size: 10px;
    position: absolute;
    top: 130px;
    padding-left: 7px;
}

.heb4 h2, .heb5 h2, .heb6 h2 {
    position: absolute;
    top: 242px;
    font-size: 13px;
    padding-left: 5px;
}

.heb4 p, .heb5 p, .heb6 p {
    position: absolute;
    top: 258px;
    font-size: 12px;
    padding-left: 5px;
}

.heb4 .etoiles, .heb5 .etoiles, .heb6 .etoiles {
    font-size: 10px;
    position: absolute;
    top: 290px;
    padding-left: 7px;
}

articles h2 {
    position: absolute;
    top: 416px;
}


aside {
    top: 0px;
    height: 440px;
    width: 30%;
    background-color: #F2F2F2;
    margin-left: 20px;
    display: flex;
    border-radius: 20px;
    padding: 20px; 
    position: relative;
    flex-wrap: wrap;
}

aside h1 {
    flex: 10 1 auto;
    margin-bottom: 30px;
}

aside i {
    flex: 1 1 auto;
    padding-top: 20px;
    padding-bottom: 20px;   
}

aside h2 {
    font-size: 13px;
    padding-left: 10px;
    padding-top: 10px;
    left: 110px;
}

aside p {
    font-size: 12px;
    padding-left: 10px;
    left: 110px; 
}

aside .etoiles {
    font-size: 10px;
    padding-left: 10px;
    left: 120px;
}

.pop1, .pop2, .pop3 {
    top: 90px;
    height: 105px;
    flex: 1 1 250px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-content: baseline;
    border: 3px solid white;
    flex-wrap: wrap;
    box-shadow: 0px 2px 2px 1px rgb(187, 184, 184);
}

.pop2, .pop3 {
    margin-top: 15px;
}

.pop1 img, .pop2 img, .pop3 img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.pop1 h2 {
    top: 90px;
    position: absolute;
}

.pop1 p {
    top: 130px;
    position: absolute;
}

.pop1 .etoiles {
    position: absolute;
    top: 160px;
}

.pop2 h2 {
    top: 216px;
    position: absolute;
}

.pop2 p {
    top: 256px;
    position: absolute;
}

.pop2 .etoiles {
    position: absolute;
    top: 286px;
}

.pop3 h2 {
    top: 344px;
    position: absolute;
}

.pop3 p {
    top: 384px;
    position: absolute;
}

.pop3 .etoiles {
    position: absolute;
    top: 414px;
}

#activites {
    position: relative;
    top: 40px;
    height: 390px;
    width: 100%;
}

.blocactiv {
    position: absolute;
    top: 40px;
    height: 350px;
    width: 100%;
    display: flex;
}

.blocactiv img {
    border: 1px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.blocactiv h2 {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
    margin: auto;
}

.activ1, .activ2, .activ3, .activ4 {
    flex: 1 1 auto;
    align-content: baseline;
    flex-wrap: wrap;
}

.activ1, .activ3 {
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 1px rgb(187, 184, 184);
}

.activ1, .activ2, .activ3 {
    margin-right: 20px;
}

.blocfort, .blociles, .blocathe, .bloclong {
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 1px rgb(187, 184, 184); 
}

.blociles, .bloclong {
    margin-top: 20px;
}

.blociles h2, .blocfort h2, .bloclong h2, .blocathe h2 {
    padding-bottom: 20px;
}

footer {
   background-color: #F2F2F2;
   font-family: 'ralewayregular', Helvetica, sans-serif;
   height: 200px;
   margin-right: 17%;
   margin-left: 17%;
   display:flex;
}

footer h2 {
    padding-bottom: 10px;
}

.propos, .heberg, .assistance {
    flex: 1 1 auto;
    justify-content: space-between;
    margin-left: 40px;
    margin-top:30px;  
}
